$Colorblue: #007bff;
$Colorindigo: #6610f2;
$Colorpurple: #6f42c1;
$Colorpink: #e83e8c;
$Colorred: #dc3545;
$Colororange: #fd7e14;
$Coloryellow: #ffc107;
$ColoryellowBolf: #ffa900;
$Colorgreen: #28a745;
$Colorteal: #20c997;
$Colorcyan: #17a2b8;
$Colorwhite: #ffffff;
$ColorwhiteLight: #dfe1ea;
$Colorgray: #868e96;
$ColorGrayBold: #333333;
$ColorGrayLight: #f7f7f7;
$colorBlack: #252525;

$opacityShow: 1;
// start in size margin
$marginTopBottom: 70px;

// start padding
$paddingLeftRightBox: 38px;

// social media variables
$facebookIcon: (facebook, $Colorgray, #3b5998);
$twitterkIcon: (twitter, $Colorgray, #1da1f2);
$instakIcon: (insta, $Colorgray, #c32aa3);
$googleIcon: (google, $Colorgray, #db4437);
$linkedinIcon: (linkedin, $Colorgray, #0a66c2);
// hight header about us
$hight: 90vh;
